@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@media (min-width: 600px) {
  .padding-banner
  {
    padding-top: 130px
  }


}

@media (max-width: 600px) {
  p {
    font-size: 13px !important;
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }


}



h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 17px;
  margin: 0;
}


h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}


button {
  font-family: 'Poppins', sans-serif;
}

.btn-padrao
{
  background-color: transparent !important;
  border: solid 1px #25b3ff !important;
  border-radius: 50px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.btn-padrao:hover
{
  background-color: #fff !important;
  border: solid 1px #fff !important;
  transition: 0.5s;
  color: black;
  border-radius: 50px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.input-form
{
  border: solid 1px #d2d2d2 !important;
  font-family: 'Poppins', sans-serif;
}

.txt-info
{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: red;
}

.cursor-pointer
{
  cursor: pointer;
}

.bloc-info
{
  border-radius: 5px;
  background-color: #9bdaff;
  padding: 10px;
}

.text-info-bloc
{
  font-size: 13px;
}

.btn-ver-ing
{
  border: solid 1px #dadada;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  border-radius: 4px;
}

.bg-insira
{
  background-color: #326faf;
  color: white;
}

.quadrado
{
  width: 25px;
  height: 25px;
}

.retangulo
{
  width: 40px;
  height: 25px;
}

